* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

header{

width: 100%;
height: 80px;
background-color: aqua;
}

form {
  width: 300px; 
  margin: 20px auto;
  font-family: 'Nunito', sans-serif;
}


label,
input {
  display: block;
  width: 100%;
  margin-bottom: 10px; 
}


input {
  padding: 8px;
  border: 1px solid #ccc;
  border-radius: 6px;
}


